<li class="nav-item"><a class="nav-link" href="/"><i class="fa-solid fa-home"></i></a></li>
<li class="nav-item"><a class="nav-link" href="/about-us/">About Us</a></li>
<li class="nav-item"><a class="nav-link" href="/team/">Team</a></li>
<li class="nav-item"><a class="nav-link" href="/projects/">Projects</a></li>
<li class="nav-item"><a class="nav-link" href="/collaborations/">Collaborations</a></li>