<li class="nav-item"><a class="nav-link" href="/"><i class="fa-solid fa-home"></i></a></li>
<li class="nav-item"><a class="nav-link" href="/about-us/">Über Uns</a></li>
<li class="nav-item"><a class="nav-link" href="/team/de/">Team</a></li>
<li class="nav-item"><a class="nav-link" href="/projects/de/">Projekte</a></li>
<li class="nav-item"><a class="nav-link" href="/collaborations.html">Kollaborationen</a></li>