<li id="navbar-home"           class="nav-item"><a class="nav-link" href="/"><i class="fa-solid fa-home"></i></a></li>
<li id="navbar-about-us"       class="nav-item"><a class="nav-link" href="/about-us/">Über Uns</a></li>
<li id="navbar-team"           class="nav-item"><a class="nav-link" href="/team/de/">Team</a></li>
<li id="navbar-projects"       class="nav-item"><a class="nav-link" href="/projects/de/">Projekte</a></li>
<li id="navbar-collaborations" class="nav-item"><a class="nav-link" href="/collaborations/">Kooperationen</a></li>