---
layout: "layout-team-overview-de.njk"
title: "Unser Team"
description: "Mitglieder der EBMPP-Sektion"
permalink: "/team/de/"
---

{% for member in collections.allTeamMembersDe %}
<div class="col mb-4 h-100">
    <div class="bg-blue-fade rounded" style="padding: 1rem; min-height: 338px;">
        <div class="mb-3">
            <a href="{{member.url}}"><img src="{{member.data.photo}}" alt="{{member.data.member}}" style="width: 100%; border: 1px solid lightgray;" class="rounded"></a>
        </div>
        <a class="lead mb-0 signika fw-semibold" style="line-height: 1.15;" href={{member.url}}>{{member.data.member}}</a>
        <p class="mb-0" style="font-size: 12px;">{{member.data.title}}</p>
        <p class="mb-0" style="font-size: 12px;"><a href="mailto:{{member.data.mail}}">{{member.data.mail}}</a></p>
    </div>
</div>
{% endfor %}