---
layout: "layout-helpful-tools-overview-de.njk"
title: "Hilfreiche Tools"
---

{% for project in collections.helpfulTools %}
<div class="col-lg-4 mb-5 h-100">
    <div class="bg-blue-fade rounded" style="padding: 1rem; min-height: 238px;">
        <div class="mb-3 image-container-projects">
            <a href="{{project.data.link}}"><img src="{{project.data.photo}}" alt="{{project.data.project}}" style="width: 100%;" class="rounded"></a>
        </div>
        <a class="lead mb-0 signika fw-semibold" style="line-height: 1.15;" href={{project.data.link}}>{{project.data.title}}</a>
    </div>
</div>
{% endfor %}