---
layout: "layout-project-overview-de.njk"
title: "Projekte"
description: "Abgeschlossene und Laufende Projekte Unserer Sektion"
permalink: "/projects/de/"
redirect_from: "/de/projekte/systematische-reviews"
---

{% for project in collections.projectsDe %}
<div class="project-entry col-lg-4 mb-4 h-100 {{project.data.type}}">
    <a class="lead mb-0 fw-semibold no-underline" style="line-height: 1.15;" href={{project.url}}>
        <div class="rounded" style="padding: 1rem; min-height: 170px; border: 1px solid lightgray;">
            <span class="badge badge-light bg-green-fade lead mb-2" style="font-weight: 400; font-size: 12px; border: 1px solid lightgray; color: gray;">{{project.data.type}}</span>
            <div style="color: black">{{project.data.title}}</div>
        </div>
    </a>
</div>
{% endfor %}